@import "tailwindcss";

@theme inline {
  --color-primary: #9DFF20;
  --color-secondary: #345C00;
  --color-base: #ffffff;
  --color-contrast: #000000;
  --color-tertiary: #F6F6F6;
  --font-sans: "DM Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--color-base);
  color: var(--color-contrast);
  font-family: var(--font-sans);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: clamp(2.032rem, 2.032rem + ((1vw - 0.2rem) * 2.896), 3.625rem);
  line-height: 1.2;
}

h2 {
  font-size: clamp(2.625rem, calc(2.625rem + ((1vw - 0.48rem) * 8.4135)), 3.25rem);
  line-height: 1.2;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: clamp(1.75rem, 1.75rem + ((1vw - 0.2rem) * 0.227), 1.875rem);
}

h5 {
  font-size: clamp(1rem, 1rem + ((1vw - 0.2rem) * 0.227), 1.125rem);
  font-weight: 700;
  text-transform: uppercase;
}

a {
  color: var(--color-contrast);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.prose a {
  color: var(--color-secondary);
}

.prose a:hover {
  text-decoration: none;
}
